.nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #333;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  z-index: 1;
}

.menu a {
  border-radius: 12px;
  width: 100%;
  text-align: end;
  font-size: 20px;
  color: #bbbbbb;
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid transparent;
  transition: 0.3s;
}

.section {
  max-height: 90vh;
  padding: 72px 0px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.aside-main {
  -webkit-animation: slide 2s ease-in-out infinite alternate;
  animation: slide 2s ease-in-out infinite alternate;
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
